.container1{
    background-image: url('websiteimage.webp');
    
    background-size: cover;
}
.container2{
    background-color: black;
    display:flex;
    flex-direction: row;
    
}
.img1{
    margin:3px;
}
.h1{
    color:#ffffff;
    padding-left:10px;
    font-size:20px
}
.input{
    height:30px;
    margin-left:20px;
    margin-top:15px;
    width:700px;
    text-align: center;
    font-size: 15px;
}
.link{
color:#ffffff;
text-decoration: none;
font-size:25px;
padding-left:20px;
padding-bottom: 10px;
}
ul li{
    display:inline;
    list-style:none;
}
.row{
    display:flex;
    flex-direction: row;

}
.img2{
padding-left: 5px;
}
.container3{
    background-color:lightblue;
    border-radius:10px;
    padding:20px;
    margin:20px;
    width:250px;
 
    

}
.container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
}
.img3{
    border-radius:20px;
    height:300px;
    width:250px
}
.center{
    text-align:center;
}
.h2{
    color:#3440eb;
    font-size: 25px;
}
.p{
    color:green;
    font-size:15px;
}
.button{
    height:32px;
    width:100px;
    color:#ffffff;
    border-radius:10px;
    border-width:0px;
    background-color: blue;
}
.img4{
    width:1200px;
    margin:20px;
    height: 400px;

}
@media (max-width:768px){
  .container3{
    grid-template-columns: 1fr;
    
    
  }
}
.position{
    position:sticky;
}
.p2{
    font-size: 15px;
    color:#ffffff;
    text-decoration: none;
    padding-left: 200px;
}
.h3{
    color:#ffffff;
    font-size: 25px;
    
    padding-left: 200px;
}
.img3:hover{
    transform: scale(0.8,0.8);
}
.container4:hover{
    transform: scale(1.1,1.1);
}











